# dependencies
node_modules

# next
.next
out

# nest
dist

# env
.env
.env.local
.env.*.local

# logs
logs
*.log
npm-debug.log*

# mac
.DS_Store

# vscode
.vscode

# coverage
coverage

# build
build

# turbo
.turbo